pymupdf
pymupdf-layout
python-docx
python-pptx

easyocr

sentence-transformers
rank_bm25
numpy

networkx
pyvis

duckduckgo-search

requests
beautifulsoup4

tqdm

pillow
opencv-python-headless

youtube-transcript-api
yt-dlp

litellm

gitpython

streamlit

PyQt6
qtawesome
pyqtdarktheme

tabulate
pandas
